# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.installed.cfg
*.egg-info/

# Database
*.db
*.sqlite3

# Node / NPM
node_modules/
package-lock.json
npm-debug.log

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.DS_Store

# IDE / Editor specific
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
